<div class="dashboard-navbar">
  <div class="dashboard-company">
    <h1>Hi, <%= current_authentication_devise_user.username %></h1>
  </div>
  <div class="dashboard-nav">
    <a href="/" target="_blank">
      <div class="home">
        <i class="material-icons">&#xE88A;</i>
      </div>
    </a>
    <a href="/main">
      <div class="main">
        <i class="material-icons">&#xE8D3;</i>
      </div>
    </a>
    <div class="user">
      <i class="material-icons">&#xE851;</i>
      <div class="user__dropdown">
        <ul>
          <li><%= link_to 'Edit Profile', '/users/' + current_authentication_devise_user.id.to_s + '/edit',
            input_html: "id='11'"%></li>
          <a id="13" href="/admin/logout"><li>Logout</li></a>
        </ul>
      </div>
    </div>
    <a href="">
      <div class="faq">
        <i class="material-icons">&#xE887;</i>
      </div>
    </a>
  </div>
</div>