<!-- will need to edit to model -->
<tr>
  <th class="tg-1"><a href="/complete" target="_blank"><%= product.name%></a></th>
  <th class="tg-1"><%= product.insurer%></th>
  <th class="tg-2"><%= product.updated_at.strftime("%Y-%m-%d")%></th>
</tr>