<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Thank You!</h2>
      <p class="lead">An advisor will review your request and be in touch with you within 24 hours.</p>
      <br>
      <h4>Money hacks and Insurance tips straight to your inbox!</h4>
      <a href="https://maxmydough.wordpress.com/" target="_blank" class="btn btn-primary btn-lg">Click here to find out
        more</a>
    </div>
  </div>
</div>