<%= render partial: '/shared/navbar' %>
<div class="faq-page">
  <h2>Frequently Asked Questions</h2>
  <div class="panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question1">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
            What service does Hive Up provide to businesses?
          </a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="question1">
        <div class="panel-body">
          We provide a platform to help businesses manage group insurance for their employees conveniently and effectively. <br><br>
          Our platform consists of 2 segments: <br>
          <ul>
            <li>
              We help you <i> explore, compare and purchase </i> group insurance plans in Singapore.
            </li>
            <li>
              We also provide your business with a tool to manage your employee’s insurance policies. This requires a user login.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question2">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
            Why should I use this platform?
          </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question2">
        <div class="panel-body">
          Insurance is complex and no one wants to handle all the paperwork. We believe that the first step in managing your employees' insurance starts with organizing it all in one place. That’s why we have created a platform for you to do all this from one consolidated digital platform. It will also help you in making timely claims, should the need arise.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question3">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
            How does Hive Up’s corporate platform work?
          </a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question3">
        <div class="panel-body">
          Through this platform, you can explore different group insurance plans available, and indicate your interest to purchase insurance plans for your employees. We will then schedule a meeting with you and our partner advisor so you can gain in-depth advice. Finally, after purchasing a plan that best suits your corporate needs, you will be able to log in to your user account and see the plans for each employee.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question4">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
            I already have existing group insurance and an advisor for my company. Can I still use the platform?
          </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question4">
        <div class="panel-body">
          Yes you can! You can offload all your existing insurance documents into one place and no longer have to worry about filing them. Once it is stored in your account, you can log in anytime to refer back to them, such as when you need to make a claim. <i>You’ll never have to worry about a missing piece of paper again.</i>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question5">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
            Do you sell insurance?
          </a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question5">
        <div class="panel-body">
          Hive Up is a platform for consolidation and efficient management. We do not sell insurance independently. Rather, we have with us a team of expert advisors who specialize in group insurance and are qualified to advise you on your employees' needs. This ensures that you get what’s best for you, delivered to you in the best way possible.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question6">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
            How can I find out more about what group benefits my employees need?
          </a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question6">
        <div class="panel-body">
          This depends on numerous factors, such as the industry you are in, your budget, and size of your workforce. Once you indicate your interest through the website, we will link you up with an advisor who can better address your company's needs.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question7">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
            I have just bought a group plan for my employees. What happens next?
          </a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question7">
        <div class="panel-body">
          The next step involves sending us a copy of your policies so that we can upload and sync the key details to your account. Once done, we will give you a user login, through which you may access your account and view your plans. From this account, you can digitally manage the insurance policies of all your employees, without worrying about the paperwork
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question8">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
            Who can access the Hive Up corporate insurance system?
          </a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question8">
        <div class="panel-body">
          At this moment, only one user login is issued per company. This could be assigned to your office administrator, Director, HR Manager or other appointed person charged with the responsibility of obtaining group insurance for the company. 
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question9">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
            Why can't regular employees access the system?
          </a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question9">
        <div class="panel-body">
          We are currently still trying to optimize this platform to best suit the needs of employees. In our future version, each employee will be granted access to the system to see his/her own plans. This will allow the employee to quickly submit a claim, with a step-by-step guide to help them.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question10">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
            How do I file a claim for my employee?
          </a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question10">
        <div class="panel-body">
          Our management platform has a checklist guide to help you ensure that the necessary documents to file a claim yourself smoothly, should you need to process a claim. This includes ensuring that the appropriate supporting documents, claim forms, and payment details to ensure a smooth claim procedure.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question10">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
            Can I check the status of my claim?
          </a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question10">
        <div class="panel-body">
          As a management tool, Hive Up’s services stop at claim guidance. For claim settlement, you may check the status of your claim directly through the insuring companies’ website.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question11">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
            How much does the service cost?
          </a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question11">
        <div class="panel-body">
          <i>Nothing is free, but Hive Up is worth it.</i> We are currently running a promotion for until the end of 2017. Please contact us for more information.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question12">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
            What else can Hive Up do for you?
          </a>
        </h4>
      </div>
      <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question12">
        <div class="panel-body">
          Hive Up is more than just a corporate tool. For individuals, we provide a platform through which you can easily customize and manage your financial portfolio. We can help you with personal insurance, investments, and even savings. Please check out <a href="www.hive-up.com">www.hive-up.com</a> to find out more.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="question13">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
            I still have a question, how can I find out more?
          </a>
        </h4>
      </div>
      <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question13">
        <div class="panel-body">
          Please message us via the chat function anytime. You may also email us at <a href="mailto:admin@hive-up.com">admin@hive-up.com</a>.
        </div>
      </div>
    </div>
  </div>
</div>