<div class="logo">
  <%= image_tag("hiveup-logo.svg") %>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h2>Features</h2>
      <p class="lead">Below is a summary of potential features to look out for and is not exhaustive. Always consult
        your advisor for exact details.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% Refinery::Products::Benefit.order('name').each do |benefit| %>
          <h3><%= benefit.name %></h3>
          <p><%= benefit.feature.html_safe %></p>
      <% end %>
    </div>
  </div>
</div>