<div><nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class ="navbar-header">
      <ul class="pull-left navbar-justlogin">
        <li>
          <h1 style="margin: 0">Welcome, OOWA!</h1>
        </li>
      </ul>
      <ul class="pull-right navbar-justlogin">
        <li>
          <button class="btn btn-primary">Home</button>
        </li>
        <li>
          <button class="btn btn-primary">Settings</button>
        </li>
        <li>
          <button class="btn btn-primary">FAQ</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>

  <div id="product-listing">
    <div class="container test-display">
      <div class="row text-center">
        <form class="right-inner-addon">
          <i class="icon-search"></i>
            <input type="search" style="width: 350px; margin-left: 30px;" class="form-control" placeholder="Search"/>
        </form>

        <table class="tg">
          <tr>
            <th class="tg-1 tablehead">Name</th>
            <th class="tg-1 tablehead">Product</th>
            <th class="tg-2 tablehead">End Date</th>
          </tr>
          <tr>
            <th class="tg-1"><a href="/complete">Kalle Karlsson</a></th> <!-- link to product details -->
            <th class="tg-1">Prudential Enhanced</th>
            <th class="tg-2">30/06/2017</th>
          </tr>

        </table>
        <%= form_tag('/process/step2', method: :post, id: 'step2') do %>
            <div id="product-listing">
              <div class="container products-display">
                <div class="row">
                  <div class="col-sm-12">

                    <div class="">

                      <% @products.in_groups_of(4, false) do |group_of_products| %>
                          <div class="row">
                            <% group_of_products.each do |product| %>
                                <div class="col-sm-3 col-xs-6 product">
                                  <%= render partial: 'product', locals: { product: product } %>
                                </div>
                            <% end %>
                          </div>
                      <% end %>
                      <div class="clearfix"></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>