<div><nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class ="navbar-header">
      <ul class="pull-left navbar-justlogin">
        <li>
          <h1 style="margin: 0">Welcome, OOWA!</h1>
        </li>
      </ul>
      <ul class="pull-right navbar-justlogin">
        <li>
          <button class="btn btn-primary">Home</button>
        </li>
        <li class="dropdown">
          <button id="dropbtn" onclick="dropdown()" class="btn btn-primary" style="width: 75px;">Settings</button>
          <div id="myDropdown" class="dropdown-content">
            <a id="11" href="/complete" target="_blank">Profile</a>
            <a id="12" href="/complete" target="_blank">Settings</a>
            <a id="13" href="/complete" target="_blank">Logout</a>
          </div>
        </li>
        <li>
          <button class="btn btn-primary">FAQ</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>

  <div id="product-listing">
    <div style="margin-top:120px ;">
      <div>
        <form method="get" name="search" action="main">
          <input type="search" id="search" name="search" style="width: 350px; margin-left: 30px;" class="" placeholder="Search Employee Name"/>
          <button>Submit</button>
        </form>
        <% if @products.length != 0%>
          <table class="tg">
            <tr>
              <th class="tg-1 tablehead">Name</th>
              <th class="tg-1 tablehead">Product</th>
              <th class="tg-2 tablehead">End Date</th>
            </tr>

            <% @products.each do |product| %>
              <%= render partial: 'tablerow', locals: { product: product } %>
            <% end %>

          </table>
        <% else %>
          <table class="tg">
            <tr><th class="tg-1 tablehead">No such products found...</th></tr>
          </table>
        <% end %>

        <!-- test obtaining products. HOW DOES IT WORK?! -->

      </div>
    </div>
  </div>
<script>
  var open = false;
  function dropdown(){
      document.getElementById("myDropdown").classList.toggle("show");
      open = true;
  }
</script>