<div class="dashboard-modal modal fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-heading policy__name">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Modal body</p>
  </div>
</div>

<div class="dashboard-navbar">
  <div class="dashboard-company">
    <h1>Hi, <%= current_authentication_devise_user.username %></h1>
  </div>
  <div class="dashboard-nav">
    <a href="/" target="_blank">
      <div class="home">
        <i class="material-icons">&#xE88A;</i>
      </div>
    </a>
    <div class="user">
      <i class="material-icons">&#xE851;</i>
      <div class="user__dropdown">
        <ul>
          <a id="11" href="/complete"><li>Profile</li></a>
          <a id="12" href="/complete"><li>Settings</li></a>
          <a id="13" href="/admin/logout"><li>Logout</li></a>
        </ul>
      </div>
    </div>
    <a href="">
      <div class="faq">
        <i class="material-icons">&#xE887;</i>
      </div>
    </a>
  </div>
</div>

<div class="wrapper" id="product-listing">
      <div class="dashboard-search">
        <form method="get" name="search" action="main">
          <input type="text" id="search" name="search" placeholder="Enter employee name"/>
          <button>Search</button>
        </form>
      </div>
      <div>
        <% if @products.length != 0%>
          <table class="dashboard-table table">
            <thead>
              <tr class="table__head">
                <th class="table__item__name">Employee Name</th>
                <th class="table__item__policy">Policy Name</th>
                <th class="table__item__expire">Expiry Date</th>
              </tr>
            </thead>
            <tbody>
            <% @products.each do |product| %>
              <%= render partial: 'tablerow', locals: { product: product } %>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <table class="dashboard-table table">
            <tr><td class="tablehead">No such products found...</td></tr>
          </table>
        <% end %>
      </div>
    </div>
<script>
  var open = false;
  function dropdown(){
      document.getElementById("myDropdown").classList.toggle("show");
      open = true;
  }
</script>
