html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  //height: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #f3f1ee);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #f3f1ee); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}

#wrapper {
  position: relative;
  margin: 0;
  padding-bottom: 60px;
  min-height: 100%;
}

p {
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

a {
  color: #93d2c7;
  cursor: pointer;
}

a:hover, a:active, a:focus {
  color: #43ACB0;
}

strong {
  font-weight: 600;
}

h1, h2, h3  {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  //color: #ff9c37;
  letter-spacing: 0.5px;
}

h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
}


.logo {
  top: 0;
  padding: 20px;
  width: 100%;
  z-index: 1001;
  text-align: center;
}

.logo img {
  width: 120px;
}

.navbar-brand {
  height: auto;
}

.navbar-brand img {
  display: inline-block
}

.logomark {
  width: 47px;
}

.wordmark {
  margin-left: 10px;
  width: 80px;
}

.navbar-justlogin {
  padding-left: 0;
  margin-bottom: 0;
}

.navbar-justlogin li {
  margin: 25px 5px;
  list-style: none;
  float: left;
}

.navbar-justlogin li:first-child {
  margin-right: 0 !important;
}

.navbar-justlogin li:last-child {
  margin-right: 15px;
}

.content {
  padding-top: 110px;
  padding-bottom: 110px;
}

#product-listing .container {
  width: 1170px;
  //width: 100%;

}

#product-listing .navbar {
  white-space: nowrap;
}

/* -------------------------------------------------------- LANDING PAGE */
.landing {
  &.content {
    text-align: center;
    padding-bottom: 0;
    padding-top: 60px;
  }

  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
  }

  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-transform: none;
  }

  a {
    &.button {
      background-color: #43ACB0;
      color: white;
      padding: 12px 40px;
      text-decoration: none;
      display: inline-block;
      font-size: 18px;
      margin-top: 20px;
      font-weight: bold;
    }
  }

  .row {
    padding: 80px 0;
    margin: 0;
  }

  .background {
    background-color: #EFF4F5;
  }

  .highlight {
    font-weight: bold;
    color: #215557;
  }

  .header {
    h1 {
      color: #2D7375;
    }
    h2 {
      width: 80%;
      margin: 20px auto;
    }
  }

  .segment {
    .manage, 
    .products {
      display: inline-block;
    }

    .manage {
      text-align: left;
    }

    .product {
      text-align: right;
    }

    .desc {
      width: 350px;
      margin: 0 auto;
      display: inline-block;
      vertical-align: middle;

      img {
        display: none;
      }

      p {
        font-size: 16px;
      }

      ul {
        padding-left: 20px;
        li {
          list-style: none;
          font-size: 18px;
          margin-bottom: 6px;
          
          &:before {
            content: '✓';
            position: absolute;
            margin-left: -1.3em;
          }
        }
      }
    }
  }

  .partners {
    .logo {
      width: 200px;
      filter: grayscale(100%);

      &:hover {
        filter: none;
        transition: filter 1s;
      }
    }
  }

  form {
    overflow: hidden;
    text-align: left;
  }

  @media screen and (min-width: 598px) {
    .segment {
      img {
        display: inline-block;
      }
      .manage {
        img {
          margin-left: 40px;
        }
      }
      .products {
        img {
          margin-right: 40px;
        }
      }
    }
  }

  @media screen and (min-width: 920px) {
    .header {
      h2 {
        width: 60%;
      }
    }
  }
}


/* -------------------------------------------------------- SELECTION PAGE */

.soon {
  position: absolute;
  top: 50%;
  /* adjust top up half the height of a single line */
  margin-top: -25vh;
  /* force content to always be a single line */
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
}

.soon img {
  width: 120px;
}

.selection {

}

.selection .umbrella-wrapper {
  padding: 15px;
  border: 1px solid #dddddd;
  background-color: #faf9f7;
  transition: all 0.2s;
  margin-bottom: 25px;
}

.selection .umbrella-wrapper:hover {
  transform: scale(1.02);
  transition: all 0.2s;
}

.selection .umbrella-title {
  height: 50px;
  width: 92%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.selection .umbrella-title h3 {
  display: inline-block;
  margin: 0;
  //color: #43acb0;
}

.selection .umbrella-title h4 {
  display: inline-block;
  margin: 0;
  color: #43acb0;
}

.selection .umbrella-body {
  height: 160px;
  border-top: 1px solid #597487;
  border-bottom: 1px solid #597487;
  margin: 15px 0;
}

.selection .umbrella-body .premium {
  font-weight: 600;
}

.selection .umbrella-body .premium span {
  font-weight: 100;
}

.selection .umbrella-footer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.selection .umbrella-icon {
  display: inline-block;
  background-image: asset-url('umbrella-icons.svg');
  width: 40px;
  height: 35px;
  margin-right: 7px;
  background-size: 140px;
}

.life {
  background-position: 0;
}

.hospital {
  background-position: right;
}

.critical {
  background-position: center;
}

.selection hr {
  border-color: #597487;
}

.selection strong {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

.tab-header {
  margin-bottom: 15px;
}

.tab-body {
  height: auto;
  margin-bottom: 15px;
}

.tab-footer .right {
  text-align: right;
}

.tab-footer .left {
  text-align: left;
}

.selection-1-select i,
.selection-2-select i,
.selection-3-select i,
.selection-4-select i,
.selection-5-select i,
.selection-6-select i,
.selection-7-select i,
.selection-8-select i {
  margin-right: 15px;
  color: #43acb0;
}

.selection-1-select h4,
.selection-2-select h4,
.selection-3-select h4,
.selection-4-select h4,
.selection-5-select h4,
.selection-6-select h4,
.selection-7-select h4,
.selection-8-select h4 {
  margin-bottom: 7px;
}


.selection input[type=checkbox] {
  position: relative;
  margin-right: 15px;
}

label.selection {
  font-weight: 400;
  cursor: pointer;
  width: 100%;
}



input[type=checkbox]:before {
  content: '';
  width: 26px;
  height: 26px;
  top: -10px;
  left: -10px;
  border-radius: 2px;
  position: absolute;
  border: 1px solid #43acb0;
  background: white;
}

input[type=checkbox]:checked:after {
  content: '';
  width: 20px;
  height: 20px;
  top: -7px;
  left: -7px;
  position: absolute;
  border-radius: 2px;
  background: #43acb0;
}
/* -------------------------------------------------------- Erik's crap */
.faq li{
  padding: 10px 30px;
  max-height: 200px;
}
.faq li.q{
  background: #c2c2c2;
  font-weight: bold;
  border-bottom: 1px #ddd solid;
}
.faq li.a{
  background: #f4f4f4;
  margin-bottom: 6px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover{
  background-color: #3e8e41;
}
#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  width: 75px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  margin: auto;
  display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display: block;}
.hide {display: none;}

.right-inner-addon i{
  padding: 10px 12px;
  margin: auto;
  pointer-events: none;
}

.tg{
  border-collapse:collapse;
  border-spacing:0;
  margin-left: 30px;
  border-color: #dbdbdb;
  margin-top: 20px;
}
.tg td{
  font-family: 'Arial', sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style: none;
  overflow: hidden;
  word-break: normal;
  vertical-align: top;
}
.tg th{
  font-family: 'Arial', sans-serif;
  font-size:14px;
  font-weight: normal;
  padding:10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #dbdbdb;
  vertical-align: top;
}
.tg .tg-baqh{
  text-align: center;
  vertical-align: top;
}
.tg .tg-1{
  width: 300px;
}
.tg .tg-2{
  width: 150px;
}
.tg .tablehead{
  font-weight: bold;
  border-style: none;
  padding: 2px 5px;
}
.test-display{
  margin-top: 140px;
}
/* -------------------------------------------------------- PRODUCTS */
.products-display {
  padding-top: 110px;
}

.product-wrapper {
  border: 1px solid #e9e9e9;
  background-color: #faf9f7;
  padding: 10px;
  position: relative;
  margin-bottom: 30px;
  transition: all 0.2s;
}

.product-wrapper:hover {
  transform: scale(1.02);
  transition: all 0.2s;
  z-index: 10;
}

.product-wrapper hr {
  margin: 10px 0;
}

.product-wrapper .product-ribbon {
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #eb5f00;
  color: #ffffff;
  padding: 2px 5px;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.product-wrapper .product-ribbon:empty {
  display: none;
}

.product-wrapper .product-close {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  border: 1px solid #e9e9e9;
  background: #ffffff;
  width: 17px;
  height: 17px;
  cursor: pointer;
  transition: all 0.2s;
}

.product-wrapper .product-close:hover {
  background-color: #333333;
  transform: scale(1.4);
  transition: all 0.2s;
}

.product-wrapper .product-close:before {
  content: '';
  width: 11px;
  height: 1px;
  background: #e9e9e9;
  position: absolute;
  top: 7px;
  right: 2px;
  transform: rotate(45deg);
}

.product-wrapper .product-close:after {
  content: '';
  width: 11px;
  height: 1px;
  background: #e9e9e9;
  position: absolute;
  top: 7px;
  right: 2px;
  transform: rotate(-45deg);
}

.product-wrapper .product-close:hover:before,
.product-wrapper .product-close:hover:after {
  background: #ffffff;
}


.product-wrapper .product-header {

}

.product-wrapper .product-header .img {
  width: auto;
  //min-width: 80px;
  float: left;
}

.product-wrapper .product-header .name {
  width: 150px;
  float: left;
  margin-right: 10px;
}

.product-wrapper .product-header h3 {
  font-size: 12px;
  height: 45px;
  overflow: visible;
  letter-spacing: normal;
  margin: 0;
}

.product-wrapper .product-header h2 {
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.product-wrapper .product-header .premium {
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-wrapper .product-header .premium span {
  font-size: 13px;
  font-weight: 100;
  color: #666666;
}

.product-wrapper .product-body {
  border-top: 1px solid #597487;
  border-bottom: 1px solid #597487;
  padding-top: 7px;
  margin-bottom: 10px;
  min-height: 80px;
}

.product-wrapper .product-body ul {
  width: 100%;
  list-style: none;
  padding-left: 0;
  font-size: 0;
  vertical-align: middle;
}

.product-wrapper .product-body ul li {
  height: auto;
  margin-top: 5px;
}

.product-wrapper .product-body ul li:first-child {
  margin-top: 0px;
}

.policy-detail-title {
  width: 50%;
  text-align: left;
  display: inline-block;
  font-size: 1.2rem;
  vertical-align: middle;
  line-height: 1.1;
  color: #787878;
}

.policy-detail-value {
  width: 50%;
  text-align: right;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.1;
  vertical-align: middle;
}


.product-wrapper .product-footer {
  text-align: right;
}

.product-wrapper .product-footer .more-details {
  font-size: 1.2rem;
  margin-top: 4px;
}

.compare-parent {
  position: relative;
}

.compare-tooltip {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #555555;
  color: #ffffff;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  line-height: 1.1;
  padding: 4px;
}

.compare-tooltip-arrow {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 35px;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #555555;
}

/* -------------------------------------------------------- CONFIRMATION */
.confirm-section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.benefits {
  min-height: 140px;
  height: auto;
  margin-bottom: 15px;
}

.eligibility {
  margin-bottom: 30px;
}

.confirm-checkbox {
  font-size: 21px;
}

.confirm-checkbox input[type=checkbox] {
  position: relative;
  margin-right: 30px;
}

.confirm-checkbox input[type=checkbox]:before {
  top: -8px;
  left: -8px;
}

.confirm-checkbox input[type=checkbox]:after {
  top: -5px;
  left: -5px;
}

.product-confirm-wrapper {
  width: 100%;
  margin-bottom: 10px;
  height: 45px;
}

.product-confirm-wrapper .product-tick {
  vertical-align: middle;
  display: inline-block;
  color: #43acb0;
  font-size: 18px;
  width: 7%;
}

.product-confirm-wrapper .product-confirm-name {
  vertical-align: middle;
  display: inline-block;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.1;
  width: 80%;
}

section {
  min-height: 600px;
  height: auto;
  padding: 30px 0;
  //background-color: #f4f4f4;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  //background-color: #f4f4f4;
  padding: 30px 0;
  font-size: 11px;
  color: #999;
  height: 60px;
  width: 100%;
  pointer-events: none;
}

address .address-label {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}

address .address-info {
  width: 200px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  section {
    height: auto;
  }
}

.quote {
  font-size: 24px;
  font-weight: 100;
  font-style: oblique;
  text-indent: 30px;
}

.quote:before {
  content: '“';
  font-family: 'Playfair Display', serif;
  font-style: oblique;
  font-size: 10em;
  line-height: 0;
  position: absolute;
  top: 45px;
  left: -30px;
  opacity: 0.35;
}


/* ------------------------------------ WIZARD */

.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;

}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-primary {
  background-color: #43acb0; /*#faa223;*/
  border-color: #43acb0;
  transition: all 0.2s;
}

.btn-primary[disabled]:hover,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:focus,
.btn-primary:active {
  background-color: #2d9ea2;
  border-color: #2d9ea2;
  transition: all 0.2s;
}

.compare-button {
  background-color: #597487;
  color: #ffffff;
}

.compare-button[disabled]:hover,
.compare-button:hover,
.compare-button:focus,
.compare-button:active {
  background-color: #41596a;
  color: #ffffff;
}

.btn[disabled] {
  opacity: 0.5;
}

.clear-selected {
  background-color: #dddddd;
}

.clear-selected {
  opacity: 0.75;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
  background-color: #2d9ea2;
  border-color: #2d9ea2;
  transition: all 0.2s;
}

.btn-link {
  color: #43acb0;
}

.btn-link:focus, .btn-link:hover {
  color: #2d9ea2;
}


/* --------------------------------------------------- DL, DT, DD TAGS LIST DATA */

.comparison-selection {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #faf9f7;
  width: 100%;
  border-bottom: 1px solid #dddddd;
  margin-top: 45px;
}

.compare-products .product-wrapper .product-header .name {
  width: 140px;
}

.compare-products .product-wrapper .product-header .name h2 {
  font-size: 20px;
}


dl.compare-products dd {
  text-align: left;
  width: 228px;
}

dl.compare-products .product-wrapper {
  margin: 5px;
  background-color: #faf9f7;
  width: auto;
}

.comparison-details {
  margin-top: 330px;
}

dl {
  margin-bottom: 0px;
  columns: 4;
  display: table;
  width: 100%;
  padding: 5px 0px;
}

dl dt {
  //background:#5f9be3;
  //color:#fff;
  //float:left;
  text-align: right;
  font-weight:bold;
  margin-right:10px;
  padding:5px;
  width: 228px;
  display: table-cell;
  position: relative;
  vertical-align: middle;
  line-height: 1.1;
}

.panel-body dl:nth-child(even) {
  background: #f2f2f2;
}

dl dd {
  margin:2px 0;
  padding:5px 0;
  width: 228px;
  break-before: avoid;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
}


.panel-default {
  border: none;
}

.panel-default > .panel-heading {
  border: 1px solid #dddddd;
}

.panel {
  background: none;
  box-shadow: none;
}

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
  padding: 15px 0;
}

/*---------------------------
 FORMS
 --------------------*/

label {
  font-weight: 600;
}

.form-control {
  background-color: #FFFFFF;
  border-radius: 2px;
  //border: 3px solid white;
  padding: 14px;
  height: 50px;
  //color: white;
  box-shadow: none;
}

.with-helper {
  height: 90px;
}

.form-control:focus {
  border-color: #43acb0;
  outline: 0;
  //-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250,162,35,.6);
  //box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250,162,35,.6);
}

.custom-checkbox {
  display: inline-block;
  margin-right: 7px;
}

::-webkit-input-placeholder {
}

:-moz-placeholder { /* Firefox 18- */
}

::-moz-placeholder {  /* Firefox 19+ */
}

:-ms-input-placeholder {
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}



.thecube {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.thecube .cube {
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.thecube .cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.thecube .cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #43ACB0;
  -webkit-animation: foldthecube 2.4s infinite linear both;
  animation: foldthecube 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.thecube .c2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.thecube .c3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.thecube .c4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.thecube .c2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.thecube .c3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.thecube .c4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes foldthecube {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes foldthecube {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
